@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255,255,255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255,255,255;
    --background-end-rgb: 255,255,255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Inter", sans-serif !important;
}

*:focus {
  outline-color: #FF9900 !important;
}

*-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
  background-color: #eeeeee;
}

input:disabled,
input:read-only,
select:read-only,
select:disabled,
input:checked
{
  background-color: #efefef !important;
  opacity: 1;
  cursor: no-drop;
}

.peer:checked ~ .peer-checked\:bg-red_one {
  opacity: 1;
  cursor: no-drop;
}